---
- name: Tareas por bloques - Validacion formato CRQ o ICR
  block:
    - set_fact:
        idhelix: "{{ idcrqinc | trim }}"
      run_once: true
      delegate_to: localhost

    - name: Validando Formato de Cambio o Incidente
      assert:
        that:
          - idhelix | string | regex_search('(CRQ|INC|REQ)[0-9]{12}')
        fail_msg: "El CRQ, INC o REQ no cumplen con la condiciones del formato"
        success_msg: "El CRQ, INC o REQ cumplen con las condiciones del formato"
      run_once: true
      delegate_to: localhost

- set_fact:
    run_playbook: |
      {% if tarea == 'Crear_VGAPPS' %}
      ['lvm_create_vg']
      {% elif tarea == 'Crear_LVNAME' %}
      ['lvm_create_lv']
      {% elif tarea == 'Extender_LVNAME' %}
      ['lvm_ext_lv']
      {% else %}
      ['No_selecciono_ninguna_tarea']
      {% endif %}

- name: Resultado de la seleccion
  become: true
  assert:
    that:
      - "'No_selecciono_ninguna_tarea' not in run_playbook"
    fail_msg: "run_playbook"
    success_msg: "Ha seleccionado: {{ run_playbook | replace('\n', '') }}"
  run_once: true
  delegate_to: localhost

- name: Inicia tareas {{ run_playbook }}
  include_tasks: "{{ tareas }}.yml"
  loop: "{{ run_playbook }}"
  loop_control:
    loop_var: tareas
